
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {

  background: #06021b;
}

.navigation{
  background:linear-gradient(45deg, #2196f3, #e91e63);
  position: sticky;
  top: 0px;
  display: flex;
  overflow:hidden;
  z-index: 1;
}
.navigation a{
  display: flex;
  text-decoration: none;
  color: wheat;
  float: left;
  padding: 14px 20px;
}

.navigation a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.top{
  color:white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-size: 80px;
}
h3{
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
h5{
  color: white;
  margin-top: 20px;
  font-size: 40px;
  background:linear-gradient(45deg, #2196f3, #e91e63) ;
  display: inline block;
  font-weight: bold;
  border-radius: 9px;
  width:fit-content;
  height: fit-content;
  padding: 5px;
  margin-left: 20px;
  text-decoration: solid;
}
.container1 {
    justify-content: center;
    align-content: center;
    padding: 10px;
    display: flex;
    padding-top: 20px;
    margin: 40px 10px;
    opacity: 0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateX(-100%);

  }
  .showleft{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  
  .text1 {

    padding-left: 40px;
    padding-top: 0%;
    float:right;
    color: white;
    box-sizing: border-box;
    box-shadow: 8px 8px 20px blueviolet;
    

  }
  .title{
    font-size: 35px;
    text-decoration: underline;
    text-align: start;
  }
  .image1 {
    background-image: url('victoria.webp');
    width: 300%;
    height: 350px;
    box-shadow:0px 0px 40px 40px white inset;
    border-radius: 30px;
    background-size: cover;
    
  }
  .container2{
    align-content: center;
    justify-content: center;
    padding: 10px;

    display: flex;
    padding-top: 20px;
    margin: 80px 10px;
    opacity: 0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateX(100%);
  }
  .showright{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .text2{
    padding-right: 20px;
    padding-top: 0%;
    float: right;
    color: white;
    box-sizing: border-box;
    box-shadow: 8px 8px 20px blueviolet;
  }
  .image2{
    background-image: url('hazar.jpg');
    background-size: cover;
    width: 300%;
    height: 350px;
    box-shadow:0px 0px 40px 40px white inset;
    border-radius: 30px;
  }
  .image3{
    background-image: url('bish.jpg');
    background-size: cover;
    width:300%;
    height: 350px;
    box-shadow:0px 0px 40px 40px white inset;
    border-radius: 30px;
  }
  .io{
    padding-top: 20px;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .subsection{
    padding: 35px;
  }
  .heading1{
    opacity: 0;
    transition: all 2s ease-in;
  }
  .heading{
    opacity: 0;
    transition: all 2s ease-in;
    margin-bottom: 5px;
  }
  .show{
    opacity: 1;
  }
  .image4{
    background-image: url('cooch.png');
    background-size: cover;
    width: 300%;
    height: 350px;
    box-shadow:0px 0px 40px 40px white inset;
    border-radius: 30px;
  }
  .image5{
    background-image: url('belur.png');
    background-size: cover;
    width:350%;
    height: 350px;
    box-shadow:0px 0px 40px 40px white inset;
    border-radius: 30px;
  }
 /* .google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 5%;
    width: 10%;
    padding-left: 100%;
    padding-right: auto;
    
}*/
